{% load static %}
<section class="vh-50 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
          <div class="card mask-custom">
            <div class="card-body p-4 text-white">
  
              <div class="text-center pt-3 pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                  alt="Check" width="60">
                <h2 class="my-4">Task List</h2>
              </div>
               
              <table class="table text-white mb-0">
                <thead>
                  <tr>
                    <th scope="col">Nomi</th>
                    <th scope="col">Vazifa</th>
                    <th scope="col">Ustuvorlik</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in royxat %}
                  <tr class="fw-normal">
                    <th>
                      <span class="ms-2">{{i.category}}</span>
                    </th>
                    <td class="align-middle">
                      <span>{{i.description}}</span>
                    </td>
                    <td class="align-middle">
                      {% if i.shirt_size == "H" %}
                      <h6 class="mb-0"><span class="badge bg-danger">High</span></h6>
                      {% elif i.shirt_size == "L" %}
                      <h6 class="mb-0"><span class="badge bg-success">Low</span></h6>
                      {% else %}
                      <h6 class="mb-0"><span class="badge bg-warning">Middle</span></h6>
                      {% endif %}
                    </td>
                    <td class="align-middle">
                      <a href="{% url 'delete_royxat' i.slug %}"><i
                          class="fas fa-trash-alt fa-lg text-warning"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>